$body-background: hsl(210, 46%, 95%);
$lightpurple-seven: hsla(263, 55%, 52%, 0.3);
$lightpurple-five: hsla(263, 55%, 52%, 0.5);
$violet: hsl(263, 55%, 52%);
$white: hsl(0, 0%, 100%);
$light-gray: hsl(0, 0%, 81%);
$lightgrayish-blue: hsl(217, 19%, 35%);
$darkish-text: hsl(210, 46%, 95%);
$verydarkish-blue: hsl(219, 29%, 14%);
$box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
